@charset "UTF-8";

*{
	margin:0;
	padding:0;
	color:balck;
	box-sizing:border-box;
	/*padding이 극도로 커져서 박스 사이즈가 변화되는것을 방지해줌 */
}

ul{
	list-style:none;
}

a{
	text-decoration:none;
	outline:none;
}

img{
	width:100%;
}

/* 위는 css 시작하기전 초기화 하는 디폴트 값*/



.container{
	width:80%;
	margin:0 auto;
}


header{
	width:100%;
	background-color:navy;
	height:120px;
	display : flex;
	align-items:center;
	justify-content:space-between;
	
}

header > h1{
	margin-left:20px;
	color:white;
}

header > nav{
	width:20%;
	height:100%;
	margin-right:20px;
}

header ul{
	width:100%;
	height: 100%;
	display:flex;
	justify-content:space-between;
}

header ul > li{
	font-size:20px;
	height:100%;
	display:flex;
	align-items:center;
}

header ul > li a{
	color:white;
}

#main>nav{
	background-color:gray;
	height:30px;
}

#main > nav li{
	/*display:inline;*/
	/*디스플레이 인라인하면 width가 적용 안됨 */
	/*대신 margin을 적용해줘도 됨 */
	float:left;
	text-align: center;   
	line-height: 30px;  
	width: 50%; 
}

#main > nav li a{
	width:100%;
	display:block;
	/*링크를 글씨가 있는 부분 뿐만아니라 
	전체 영역을 클릭해도 링크가 걸리게 설정*/
	
	color:white;
	font-weight: bold;
}

#images > #banners{
	overflow: auto;
	/* 자식 엘리먼트가 float일때
	이를 인지하게 해줌*/
	height:250px;
}

#images > #banners div{
	float:left;
	width:50%;
	position:relative;
	top: 50%;
 	transform: translateY(-50%);
	
}

#images > #banners div img{
	width:80%;
	margin: 0 10%;
}

footer{
	clear: both;
	/*상단의 블록이 float일때
	상단으로 땡겨져서 올라가는 것을 방지해줌 */

	height:200px;
	background-color: #eee;
	line-height: 200px;
	text-align:center;
}