@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

img{
	width:100%;
}

#container{
	width:80%;
	margin: 0 auto;
}

header{
	background-color:skyblue;
	height:150px;
	display:flex;
	align-items: center;
	justify-content: space-between;
}

header > h1{
	margin-left: 20px;
}

header > nav{
	margin-right: 20px;
	width:20%;
}

header > nav >ul{
	display:flex;
	justify-content: space-between;
}

header > nav > ul a{
	color:#000000;
}

#content > nav> ul{
	overflow: auto;
}

#content > nav > ul > li{
	background-color:#ddd;
	float:left;
	height:50px;
	width:50%;
	text-align:center;
}

#content > nav > ul> li a{
	line-height: 50px;
	display:block;
	color:#000000;
	font-weight:bold;
}



#banners > div{
	float:left;
	width:50%;
	height : 150px;
	text-align:center;
	display:table;
}

#banners > div a{
	display: table-cell;
	vertical-align: middle;
}
#banners > div img {
	width:80%;
}

footer{
	clear:both;
	height:200px;
	background-color:#eee;
	line-height: 200px;
	text-align:center;
}